@use "../base/vars" as *;
@use "../base/mixins" as *;

.about-section.desktop {
  display: none;
}
.about-section.mobile {
  display: block;
}
@media (min-width: $desktop) {
  .about-section.desktop {
    display: block;
    margin-top: 2rem;
  }
  .about-section.mobile {
    display: none;
  }
}

// ============ About Mobile ============ //
.about-section.mobile .nav-btn .btn-pushable {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// ============ About Overlay ============ //

.about-toggle-button {
  padding: 0;
  margin: 1rem 0;
  text-decoration: underline;
  cursor: pointer;
}
.about-toggle-button:hover {
  color: $color-theme-secondary;
}

// background
.about-overlay {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.about-overlay.activated {
  width: 100vw;
  height: 165vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s ease-in-out;
}

.about-overlay-box {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  width: 800px;
  height: 65rem;
  margin: 0 auto;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  background-color: $color-bg-primary;
  z-index: $index-about-box-overlay;
  padding: 24px;
  h2 {
    padding: 0;
    margin: 0;
  }
  .center-line {
    margin-top: 0;
  }
  // transition
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform-origin: center center;
}

.about-overlay-box.activated {
  // transition
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.about-overlay-box .close-btn {
  position: absolute;
  top: 33px;
  right: 23px;
  font-size: 16px;
  color: $color-font-primary;
  background-color: $color-bg-primary;
  padding: 0 8px;
  cursor: pointer;
  &:hover {
    color: $color-theme-secondary;
  }
}

// ============ About Accordion ============ //
.accordion {
  margin: 1rem 0;
}
.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: $color-bg-primary;
  border-bottom: 1px solid $color-font-primary;
}

.accordion-title:hover {
  color: $color-theme-secondary;
}

.accordion-title .btn-tab {
  color: #777;
  font-size: 16px;
}

.accordion-content {
  background-color: #132e18;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;
}

.accordion-content.open {
  max-height: 1000px;
  padding: 16px;
  opacity: 1;
  h4 {
    margin-top: 16px;
    font-size: 20px;
    color: #fff;
  }
  p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 16px;
    max-width: none;
  }
  b {
    color: $color-theme-secondary;
  }
  .dev-skill-box,
  .design-skill-box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    gap: 2px;
  }
  .skill {
    font-size: 18px;
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: #72727250;
    color: white;
    border-radius: 5px;
    @include flex-center-center;
    gap: 8px;
    img {
      width: 1.5rem;
      display: block;
    }
  }
}
