@use "../base/vars" as *;
@use "../base/mixins" as *;

// ============ default setting ============ //

.contact-section.mobile {
  display: block;
}
.contact-section.desktop {
  display: none;
}
@media (min-width: $desktop) {
  .contact-section.mobile {
    display: none;
  }
  .contact-section.desktop {
    display: block;
  }
}

// ============ Contact Layout ============ //

.contact-section {
  margin-bottom: 9rem;
}
@media (min-width: $desktop) {
  .contact-section {
    margin-bottom: 0rem;
  }
}

.contact-box {
  margin: 1rem 0;
}

.contact-box a {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.contact-box a:nth-child(1) {
  padding-left: 0;
}

// ============ Contact Desktop ============ //

// ============ Email Copy Function ============ //

.email-btn-container {
  position: relative;
  display: inline-block;
}

.email-btn-container button {
  color: $color-font-primary;
  text-decoration: underline;
  cursor: pointer;
  padding: 1rem 0;
}
.contact-box a:hover,
.email-btn-container button:hover {
  color: $color-theme-secondary;
}

.alert-box {
  position: absolute;
  background-color: $color-theme-primary;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  top: -20px;
  opacity: 0;
  animation: fadeInOut 1.5s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

// ============ Contact TEST AREA ============ //
.contact-floating {
  position: absolute;
  margin-top: 48px;
  right: 0;
}

.contact-floating .contact-box {
  display: flex;
  flex-direction: column;
}

.contact-floating .contact-box a {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  padding: 16px 16px 4px 0;
  font-size: 24px;
  p {
    margin: 0;
  }
}
