@use "../base/vars" as *;
@use "../base/mixins" as *;

.header {
  background-color: $color-bg-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: $color-theme-primary;
  img {
    width: 2rem;
    padding: 4px;
  }
}
