@use "../base/vars" as *;
@use "../base/mixins" as *;

.side-nav {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagination {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  list-style: none;
}

.pagination li {
  background: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 15px 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pagination li.active {
  transform: scale(1.5);
  background-color: #00e99b;
}

.pagination a {
  display: block;
  width: 100%;
  height: 100%;
}
