@use "../base/vars" as *;
@use "../base/mixins" as *;

// ============ Works ============ //
.works {
  display: grid;
  grid-template-columns: 1fr;
}

// ============ Work-Item Layout ============ //
.work-item {
  height: 25rem;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  transition: background-color 0.3s ease;

  .thumbnail,
  .overlay {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .thumbnail {
    object-position: center;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    z-index: $index-overlay;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $color-font-primary;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.9) 100%
    );
    cursor: default;
  }
}

// ============ Work-Item detail ============ //

.link-text {
  margin-top: 8px;
  margin-left: 4px;
  text-decoration: underline;
  cursor: pointer;
}
.overlay:hover {
  .link-text {
    color: $color-theme-secondary;
  }
}

.skill-box {
  display: flex;
  gap: 0.5rem;
  margin-top: 8px;

  .skill {
    padding: 0.2rem 0.5rem;
    background-color: #72727250;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
}
