@use "vars" as *;
@use "mixins" as *;

// ============ Typo ============ //
body {
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  letter-spacing: -0.6px;
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-size: 24px;
  letter-spacing: -0.4px;
  font-weight: 600;
  padding-top: 3rem;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 400;
}

// ============ list ============ //
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

// ============ effect ============ //
::selection {
  background-color: $color-theme-primary;
  color: black;
}

// ============ Button ============ //
button {
  background-color: transparent;
  border: none;
}

.btn-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(0, 80, 30) 0%,
    rgb(0, 120, 50) 8%,
    rgb(0, 120, 50) 92%,
    rgb(0, 80, 30) 100%
  );
}

.btn-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #00ac47;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.btn-pushable:hover .btn-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-pushable:active .btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.btn-pushable:hover .btn-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-pushable:active .btn-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.btn-pushable:focus:not(:focus-visible) {
  outline: none;
}
