@use "vars" as *;

// @mixin name() {
//
// }

@mixin normalize-object() {
  background-color: transparent;
  border: none;
}

@mixin flex-center-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
