$color-bg-primary: #222;
$color-font-primary: #f0f0f0;

$color-bg-secondary: #333;
$color-font-secondary: #fff;
$color-border: #e0e0e0;

$color-theme-primary: #fbbc04;
$color-theme-secondary: #0056df;
$color-sample1: #00e99b;
$color-sample2: #ff0000;

// Button colors
$color-btn: linear-gradient(to right, #ff7e00 0%, #ff3d00 51%, #ff7e00 100%);
$color-btn-shadow: rgba(255, 125, 0, 0.3);

// Anchor colors
$color-a: #ff7e00;
$color-a-border: rgba(255, 125, 0, 0.5);
$color-a-focus: #ff3d00;
$color-a-active: #ff7e00;

// Breakpoints
$mobile-wide: 30em; // 480px
$tablet: 48em; // 768px
$desktop: 64em; // 1024px
$desktop-wide: 75em; // 1200px

// z-index
$index-overlay: 2;
$index-header: 10;
$index-nav: 10;
$index-progressbar: 999;
$index-btn-live-chat: 999;
