@use "../base/vars" as *;
@use "../base/mixins" as *;

// ============ Site Layout ============ //
body {
  color: $color-font-primary;
  box-sizing: border-box;
  max-width: 125rem;
  margin: 0 auto;
  padding: 0;
  transition: background-color 1s;
}

// ============ Page Home Layout ============ //
.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.5rem;
  margin: 0 auto;
  max-width: $max-width;
}

.works {
  width: 100%;
  margin-bottom: 20px;
}

.left-screen {
  margin-top: 4.5rem;
}

@media (min-width: $desktop) {
  .main-home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    padding: 0 4.5rem;
  }
  .left-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    overflow: hidden;
    height: 100vh;
    width: 45%;
    margin: 0;
    padding-bottom: 3rem;
  }
  .right-screen {
    width: 55%;
    height: 100vh;
    overflow-y: auto;
    padding-left: 3rem;
  }
  .hero-section {
    margin-top: 3rem;
    padding: 1.5rem 0;
  }
  .works {
    margin: 0;
    height: 100%;
    overflow-y: scroll;
  }
  .works-inner-container {
    padding: 5rem 0;
    h2 {
      padding: 0;
    }
  }
}

// ============ Hero Section ============ //

.hero-section {
  height: calc(100vh - 4rem - 4.5rem);
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 1rem;
    padding: 0;
    flex-wrap: nowrap;
  }
  p {
    margin-top: 1.5rem;
    max-width: 24rem;
  }
}

.hero-section .nav-btn {
  text-decoration: none;
  margin: 0 auto;
}
@media (min-width: $desktop) {
  .hero-section .nav-btn {
    display: none;
  }
}

.hero-section .btn-scroll-to-works {
  padding: 12px;
  width: 8rem;
  border-radius: 5px;
  background-color: $color-theme-primary;
  color: white;
  text-align: center;
}

// TEST here

#contact-highlight.highlighted,
#about-highlight.highlighted,
#works-highlight.highlighted {
  color: $color-theme-secondary;
  text-shadow: 0 0 5px #00ff6a62;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

#contact-highlight,
#works-highlight,
#about-highlight {
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
